<html>

    <head>
        <title>Phraends</title>
        <!-- link rel="stylesheet" href="style.css" -->
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'style.css') }}">
    </head>

    <body>


        <form action="" class="content">
            
            <div class="title">
                <h1>Phraends</h1>
                <input type="text" placeholder="your ticker: " />
            </div>

            <h3>1. phrase1</h3>
            <h3>2. phrase2</h3>
            <h3>3. phrase3</h3>
            <h3>4. phrase4</h3>
            <h3>5. phrase5</h3>

            <p>
                🔥Trending tickers: AAPL, NVDA, MSFT
            </p>

            <p>
                ⏳Search history: AAPL, PYPL, DIS
            </p>
        </form>
    </body>

</html>